<div class='discover-cont'></div>
<div class='deep-dive-cont'></div>
<div class='entry-content'>
    <div class='entry-stats'>
        <span>
            <span class='number'>14</span>
            <span class='label'>relevant concepts</span>
        </span>
        <span>
            <span class='number'>128</span>
            <span class='label'>concepts</span>
        </span>
        <span>
            <span class='number'>60<span>%</span></span>
            <span class='label'>concept space coverage</span>
        </span>
    </div>
    <h2 class='subheader title'>{{title}}</h2>
    <ul>
        {{#each snippets}}
        <li>{{{this}}}</li>
        <li class='more'><a href='{{../url}}' target='_blank'>more</a></li>
        {{/each}}
    </ul>
    <h5 class='subheader source'><i>{{source.link}}</i></h5>
</div>