<ul class='search-options'>
  <li class='summary'>
    <a>
        summary
    </a>
  </li>
  <li class='discover'>
    <a>
      discover more
    </a>
  </li>
  <li class='deep'>
    <a>
      dive deep
    </a>
  </li>
  <li class='bookmark'>
    <a>
      bookmark
    </a>
  </li>
  <li class='read'>
    <a>
      read
    </a>
  </li>
</ul>