<div id="header" class="row fixed header">
  <div class="row">
  <div class="twelve columns">
    <div class="xyris-icon columns">
      <nav class= "top-bar">
        <ul>
          <li class="name">
            <h1>
              <a href="/">
                Xyris
              </a>
            </h1>
          </li>
        </ul>
      </nav>
    </div>
    <div id='user-detail' class='three columns'>
    </div>
  </div>
  </div>
</div>
<div id="main" class="row main">
  <div id="left-sidebar" class="one plus-half columns left-sidebar">
  </div>
  <div id="main-content" class="eight minus-half columns">
  </div>
  <aside id="right-sidebar" class="three columns hide-for-small">
  </aside>
</div>
<div id="search-context" class="row search-context">
</div>
<div class='footer row fixed'>
  <div class='eight columns push-two'>
    <ul class='inline-list'>
      <li>&copy; 2013 Xyris</li>
      <li style='width: 60px'><a href='aboutus'>About Us</a></li>
      <li style='width: 30px'><a href='blog'>Blog</a></li>
      <li style='width: 74px'><a href='contactus'>Contact Us</a></li>
      <li style='width: 62px'><a href='feedback'>Feedback</a></li>
    </ul>
  </div>
</div>
    
