<div class='one columns search-icon entypo-icon'>
  &#128319;
</div>
<div class='eight columns'>
  <div id='search-context-query' class='search-context-query'>
    <div id='search-hint' class='search-hint'>
      <span id='search-hint-stat'>&nbsp;Start typing here to explore&nbsp;
      </span>
    </div>
    <div id='search-typeahead' class='search-typeahead'>
    </div>
    <div id='search-context-keywords' class='twelve search-context-keywords'>
      <div id='add-context-keywords'>
        + add context keywords to your search
      </div>
    </div>
  </div>
  <ul class='inline-list search-options'>
    <li class='web active'><a href='#'>web</a></li>
    <li class='docs'><a href='#'>documents</a></li>
    <li class='rsrchart'><a href='#'>research articles</a></li>
  </ul>
</div>
<div class='three columns'>
  <div id='search-context-suggest' class='search-context-suggest'>
    <div id='context-keyword-suggest'></div>
  </div>
</div>
