<div class="doctype-list">
  <dl class="vertical tabs">
    <dd class="web">
      <a href="#" class="active">
        Web
      </a>
    </dd>
    <dd class="news">
      <a href="#">
        News
      </a>
    </dd>
    <dd class="books">
      <a href="#">
        Books
      </a>
    </dd>
  </dl>
</div>
