<div class='two columns left-sidebar' id='searchOptions'></div>
<div class='two columns hide' id='searchResultOptions'></div>
<div class='seven columns'>
  <div class='row' id='searchContextSummary'></div>
  <div class='row' id='search-results'></div>
</div>
<div class='eight columns hide' id='searchResultDetail'></div>
<div class='three columns' id='contextKeywords'></div>
