<div class='one plus-half columns'>
  <!-- <div class='search-icon'></div> -->
  <div class='search-icon entypo-icon'>&#128319;</div>
</div>
<div class='eight minus-half columns'>
  <div class='row'>
    <div id='search-context-query' class='twelve columns search-context-query'></div>
  </div>
  <div class='row hide' id='search-suggestions' >
    <div class='six columns'>
      <h5><small>Suggested queries</small></h5>
      <div id='search-query-suggest'></div>
    </div>
    <div class='six columns'>
      <h5><small>Suggestions from past searches</small></h5>
      <div id='search-ctxt-suggest'></div>
    </div>
  </div>
</div>
<div class='three columns'>
  <div id='search-options' class='search-options'></div>
</div>
