<div class='one columns'>
  <!-- <div class='sc-summary-icon search'></div> -->
  <div class='sc-summary-icon entypo-icon'>&#128319;</div>
</div>
<div class='eleven columns'>
  <h4 title='{{altQuery}}' class='subheader sc-summary-query'> 
    {{query}}
    {{#if filterKeyword}}
      > {{filterKeyword}}
    {{/if}}
  </h4>
</div>
