doctype 5
html(lang="en")
  head
    title Xyris
    link(rel="stylesheet", href="/styles/xyris.css")
    link(rel="stylesheet", href="/styles/font-awesome.css")
    
  body
    | <script data-main="/scripts/initialize" src="/scripts/vendor/require.js"></script>
