!!! 5
head
  meta(charset='utf-8')
  title Case Management Dashboard
  meta(name='description', content='case management dashboard')
  meta(name='author', content='kumar ishan')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='icon', href='/images/favicon.ico')
  link(rel='stylesheet', href='/stylesheets/style.css')


body
