<div class='two columns left-sidebar search-option' id='searchOptions'></div>
<div class='two columns hide search-result-opion' id='searchResultOptions'></div>
<div class='six columns hide search-result-detail' id='searchResultDetail'></div>
<div class='seven columns search-result-cont' id='search-result-container'>
  <div class='row search-context-summ' id='searchContextSummary'></div>
  <div class='row search-results' id='search-results'></div>
</div>
<div class='three columns context-keywords' id='context-keywords'></div>
<div class='three columns search-trail' id='search-trail'></div>